.tbleHeader {
  background-color: var(--tableHeaderColor) !important;
  color: var(--mainTextInptColor) !important;
}

.tbleR {
  background-color: #fff;
  color: var(--mainTextInptColor);
  border-color: var(--mainTextInptColor);
}

.tbl {
  border: red;
}
