//
.budgetDataViewMain {
    align-items: center !important;
    padding: 0px !important;
    margin: 0px !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    min-height: 70px;
    background: #ffffff;
    margin-bottom: 15px !important;
    margin-top: 25px !important;
}

//
.budgetDataView {
    align-items: center !important;
    min-height: 70px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    padding: 15px !important;
    margin-top: 25px !important
}

.budgetDataSubView {
    align-items: center !important;
    padding: 15px !important;
    margin: 0px !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    min-height: 70px;
    background: #ffffff;
    margin-bottom: 15px !important;
    margin-top: 25px !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
    .ui.button, .ui.buttons .button, .ui.buttons .or {
        width: 100% !important;
    }
}

.budgetAddExpensesButton{
    display: flex;
}

.budgetAddExpenseMain{
    width: 100% !important;
}

.costViewMain{
    text-align: end !important;
}

.addNewBudgetMain {
    align-items: center !important;
    min-height: 70px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    padding: 15px !important;
    margin-top: 25px !important
}

.addNewCategoryButton{
    width: 100% !important;
    margin-top: 25px !important;
}

.budgetTracker{
    color: var(--mainTextColor);;
}