.supplierDatePicker{
    input[type=email], input[type=password], input[type=search], input[type=text] {
        font-family: "ProximaNova" !important;
        margin: 0;
        outline: 0;
        -webkit-appearance: none;
        line-height: 1.21428571em;
        padding: 0.67857143em 1em;
        font-size: 15px !important;
        font-weight: 600 !important;
        background: #ffffff !important;
        border: 1px solid var(--mainTextInputBorderColor) !important;
        color: var(--mainTextInptColor) !important;
        border-radius: 0.28571429rem;
        box-shadow: 0 0 0 0 transparent inset;
        transition: color 0.1s ease, border-color 0.1s ease;
        width: 100%;
    }
}