.tabViewMain{
    border-top: 1px solid var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background: white;
}

.mainContentView{
    text-align: center !important;
}

.customImageViewTab{
    height: 30px !important;
}