.weddingVenue {
    margin-top: 25px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: flex;
    background: #ffffff !important;
    border-radius: 5px !important;
}

.weddingMenuPackageTitle{
    margin-top: 20px !important;
}

.packageAddButton{
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
}

.customSupplierView{
    width: 100% !important;
}

.supplierDatePicker{
    input[type=email], input[type=password], input[type=search], input[type=text] {
        font-family: "ProximaNova" !important;
        margin: 0;
        outline: 0;
        -webkit-appearance: none;
        line-height: 1.21428571em;
        padding: 0.67857143em 1em;
        font-size: 15px !important;
        font-weight: 600 !important;
        background: #ffffff !important;
        border: 1px solid var(--mainTextInputBorderColor) !important;
        color: var(--mainTextInptColor) !important;
        border-radius: 0.28571429rem;
        box-shadow: 0 0 0 0 transparent inset;
        transition: color 0.1s ease, border-color 0.1s ease;
        width: 100%;
    }
}

.inputTextSupplierDateLable{
    margin-bottom: 5px !important;
}